input {
  width: 200px;
  padding-left: 10px;
  color: #fff;
  font-size: 34px;
  letter-spacing: 3px;
  border: 0 none;
  background: none;
  outline: none;
}

.wrap {
  max-width: 1280px;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: #1d1e22;
}

.container {
  width: 530px;
  padding-top: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../images/Oval 4.png") no-repeat right;
  background-size: 90%;
}

.containerBlockInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.containerInput {
  width: 240px;
  height: 40px;
  margin-left: 30px;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.containerInput__image {
  margin-top: 15px;
  background: url("/images/sprite/sprite-7ffb1515.svg") no-repeat;
  background-position: 0 0;
  width: 26px;
  height: 27px;
}

.containerInput__text {
  width: 200px;
}

.containerContent {
  height: 400px;
  margin-top: 50px;
  margin-right: -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  overflow: hidden;
}

.containerContent__image {
  margin: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.containerContent__image-marginTop {
  margin-top: 110px;
  height: 253px;
}

.bottomImage {
  margin-top: 10px;
}

.animationDown {
  -webkit-animation: down 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.animationUp {
  -webkit-animation: up 0.4s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  100% {
    -webkit-transform: translate(0, 550px);
    transform: translate(0, 550px);
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translate(0, 550px);
    transform: translate(0, 550px);
  }

  100% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

@media screen and (max-width: 1024px) {
  .wrap {
    max-width: 1024px;
  }

  .container {
    width: 435px;
  }

  img {
    width: 150px;
    height: 200px;
  }

  .media {
    width: 90px;
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    max-width: 768px;
    height: 1024px;
  }

  .container {
    width: 370px;
    padding-top: 547px;
  }

  .containerContent {
    width: 370px;
    height: 340px;
  }

  .containerContent__image {
    margin: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .containerContent__image-marginTop {
    margin-top: 70px;
    height: 253px;
  }

  img {
    width: 120px;
    height: 200px;
  }

  .media {
    width: 60px;
    height: 165px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .wrap {
    max-width: 650px;
    max-height: 500px;
  }

  .container {
    width: 373px;
    padding-top: 130px;
  }

  .container__image {
    margin: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container__image-marginTop {
    margin-top: 30px;
    height: 253px;
  }

  .containerInput {
    width: 140px;
    height: 40px;
    margin-left: 30px;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .containerInput__image {
    margin-top: 15px;
    background: url("/images/sprite/sprite-7ffb1515.svg") no-repeat;
    background-position: 0 0;
    width: 26px;
    height: 27px;
  }

  .containerInput__text {
    width: 100px;
  }

  img {
    width: 70px;
  }
}

@media screen and (max-width: 670px) {
  .wrap {
    max-width: 650px;
    max-height: 500px;
  }

  .container {
    width: 373px;
    padding-top: 120px;
  }

  .container__image {
    margin: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container__image-marginTop {
    margin-top: 30px;
    height: 253px;
  }

  .containerInput {
    width: 130px;
    height: 40px;
    margin-left: 130px;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .containerInput__image {
    margin-top: 15px;
    background: url("/images/sprite/sprite-7ffb1515.svg") no-repeat;
    background-position: 0 0;
    width: 26px;
    height: 27px;
  }

  .containerInput__text {
    width: 100px;
  }

  img {
    width: 100px;
    height: auto;
  }

  .media {
    width: 50px;
    height: 135px;
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    max-width: 480px;
    max-height: 680px;
  }

  .container {
    width: 450px;
    height: auto;
    padding-top: 180px;
  }

  .containerInput {
    width: 250px;
    height: 40px;
    margin-left: -15px;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .containerInput__image {
    margin-top: 15px;
    background: url("/images/sprite/sprite-7ffb1515.svg") no-repeat;
    background-position: 0 0;
    width: 26px;
    height: 27px;
  }

  .containerInput__text {
    width: 230px;
  }

  .containerContent {
    width: 470px;
    height: 340px;
  }

  .containerContent__image {
    margin: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .containerContent__image-marginTop {
    margin-top: 70px;
    height: 253px;
  }

  img {
    width: 150px;
    height: 200px;
  }

  .media {
    width: 90px;
    height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .wrap {
    max-width: 320px;
    max-height: 680px;
  }

  .container {
    width: 320px;
    height: auto;
    padding-top: 220px;
  }

  .containerInput {
    width: 200px;
    height: 40px;
    margin-left: -15px;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .containerInput__image {
    margin-top: 15px;
    background: url("/images/sprite/sprite-7ffb1515.svg") no-repeat;
    background-position: 0 0;
    width: 26px;
    height: 27px;
  }

  .containerInput__text {
    width: 170px;
  }

  .containerContent {
    width: 320px;
    height: 300px;
  }

  .containerContent__image {
    margin: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .containerContent__image-marginTop {
    margin-top: 70px;
    height: 253px;
  }

  img {
    width: 100px;
    height: 170px;
  }

  .media {
    width: 90px;
    height: 170px;
  }
}