@import (reference, less) '../styles/0.variables.less';

input {
    width: 200px;
    padding-left: 10px;
    color: @text_color;
    font-size: 34px;
    letter-spacing: 3px;
    border: 0 none;
    background: none;
    outline:none;
}
