@import (reference, less) '../styles/0.variables.less';


.wrap {
    max-width: 1280px;
    height: 720px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    background-color: @fon_color;
}
.container {
    width: 530px;
    padding-top: 147px;
    display: flex;
    justify-content: center;
    background: url("../images/Oval 4.png") no-repeat right;
    background-size: 90%;
}
.containerBlockInput {
    display: flex;
    justify-content: center;
}
.containerInput {
    width: 240px;
    height: 40px;
    margin-left: 30px;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;

    &__image {
        margin-top: 15px;
        .svg-Shape;
    }
    &__text {
        width: 200px;
    }

}
.containerContent {
    height: 400px;
    margin-top: 50px;
    margin-right: -16px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    &__image {
        margin: 7px;
        flex-direction: column;

        &-marginTop {
            margin-top: 110px;
            height: 253px;
        }
    }
}

.bottomImage {
    margin-top: 10px;
}
.animationDown {
    -webkit-animation: down 0.6s;
    animation-fill-mode: forwards;
}
.animationUp {
    -webkit-animation: up 0.4s 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes down {
    0%{
        transform: translate(0, 0px);
    }
    100% {
        transform: translate(0, 550px);
    }
}
@-webkit-keyframes up {
    0% {
        transform: translate(0, 550px);
    }
    100%{
        transform: translate(0, 0px);
    }

}



@media @tl {
    .wrap {
        max-width: 1024px;
    }
    .container{
        width: 435px;
    }
    img {
        width: 150px;
        height: 200px;

    }
    .media {
        width: 90px;
        // height: 150px;
    }
}

@media @tp {
    .wrap {
        max-width: 768px;
        height: 1024px;
    }
    .container{
        width: 370px;
        padding-top: 547px;
    }
.containerContent {
    width: 370px;
    height: 340px;

    &__image {
        margin: 7px;
        flex-direction: column;

        &-marginTop {
            margin-top: 70px;
            height: 253px;
        }
    }

}
    img {
        width: 120px;
        height: 200px;

    }
    .media {
        width: 60px;
        height: 165px;
    }

}
@media @sbl {
    .wrap {
        max-width: 650px;
        max-height: 500px;
    }
    .container {
        width: 373px;
        padding-top: 130px;

        &__image {
            margin: 7px;
            flex-direction: column;

            &-marginTop {
                margin-top: 30px;
                height: 253px;
            }
        }
    }
    .containerInput{
        width: 140px;
        height: 40px;
        margin-left: 30px;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;

        &__image {
            margin-top: 15px;
            .svg-Shape;
        }
        &__text {
            width: 100px;
        }
    }
    img {
        width: 70px;
    }

}
@media @sb {
    .wrap {
        max-width: 650px;
        max-height: 500px;
    }
    .container {
        width: 373px;
        padding-top: 120px;

        &__image {
            margin: 7px;
            flex-direction: column;

            &-marginTop {
                margin-top: 30px;
                height: 253px;
            }
        }
    }
    .containerInput{
        width: 130px;
        height: 40px;
        margin-left: 130px;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;

        &__image {
            margin-top: 15px;
            .svg-Shape;
        }
        &__text {
            width: 100px;
        }
    }

    img {
        width: 100px;
        height: auto;
    }
    .media {
        width: 50px;
        height: 135px;
    }
}
@media @sm {
    .wrap {
        max-width: 480px;
        max-height: 680px;

    }
    .container{
        width: 450px;
        height: auto;
        padding-top: 180px;

    }
    .containerInput{
        width: 250px;
        height: 40px;
        margin-left: -15px;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;

        &__image {
            margin-top: 15px;
            .svg-Shape;
        }
        &__text {
            width: 230px;
        }
    }
    .containerContent {
        width: 470px;
        height: 340px;

        &__image {
            margin: 7px;
            flex-direction: column;

            &-marginTop {
                margin-top: 70px;
                height: 253px;
            }
        }

    }
    img {
        width: 150px;
        height: 200px;

    }
    .media {
        width: 90px;
        height: 200px;
    }
}
@media @ss {
    .wrap {
        max-width: 320px;
        max-height: 680px;

    }
    .container{
        width: 320px;
        height: auto;
        padding-top: 220px;

    }
    .containerInput{
        width: 200px;
        height: 40px;
        margin-left: -15px;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;

        &__image {
            margin-top: 15px;
            .svg-Shape;
        }
        &__text {
            width: 170px;
        }
    }
    .containerContent {
        width: 320px;
        height: 300px;

        &__image {
            margin: 7px;
            flex-direction: column;

            &-marginTop {
                margin-top: 70px;
                height: 253px;
            }
        }

    }
    img {
        width: 100px;
        height: 170px;

    }
    .media {
        width: 90px;
        height: 170px;
    }
}
